@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@200&family=Gulzar&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    font-family:roboto;
}
:root{
    --color-1:#0ACEFA;
    --color-2:#D23CFA;
    --color-3:#23D2FA;
    --color-4:#FA7B0A;
    --color-5:#A3FA16;
    --nav:#707070;
}
body{
    background-color: #0acefa07;
}
header{
    background-image: url(../media/ban.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-family: Roboto;
    font-weight: 300;
    color:#707070;
}
#index{
    color:var(--color-1);
    text-transform: uppercase;

}

.icone{
    width:35px;
    height:35px;
    transition: transform .3s;
}
.icone:hover{
    transform: scale(1.3);
}
.ctn_centre{
    justify-content: center;
    display:flex;
}
.accueil-img{
    transition: 0.3s;
}
.accueil-img:hover{
    filter: blur(2px);
    transform: scale(1.02);
}
.contenant {
    position: relative;
    /* text-align: center; */
    margin: .95vw;
}
.texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main{
    width:85%;
    text-align: center;
    margin:auto;
}

#nav_bar{
    position: fixed;
    display:flex;
    flex-direction: column;
    background-color: var(--color-5); 
    width:75px;
}
.icone_nav_bar{
    width:60px;
    transition: transform .3s;
}
    .icone_nav_bar:hover{
    transform: scale(1.2);
} 
#hr{
    color:var(--color-5);
} 

.nav-link{
    color:white;
    font-size:1.3em;
    transition: 0.3s;
    text-transform: uppercase;
}
.nav-link:hover{
    color:var(--color-1);
}
.command{
    box-shadow: #707070 5px 5px 5px;
    transition-duration: 0.1s;
    color: white;
    background-color: var(--color-1);

}
.command:hover{
    background-color: #189cb9 !important;

}
.command:active{
    transition-duration: 0.1s;
    transform: scale(0.96);
}
.command_del{
    box-shadow: #707070 5px 5px 5px;
    transition-duration: 0.1s;
    color: white;

}
.command_del:hover{
    background-color: #84202a !important;

}
.command_del:active{
    transition-duration: 0.1s;
    transform: scale(0.96);
}
.img_panier{
    width: 25%;
}
.user_mobile{
    visibility: hidden;
}


/* ==================== Style carousel ==================== */

.carousel-cell{
    margin-right: 1vw;
    overflow: hidden;
}

/* big buttons, no circle */
.flickity-prev-next-button {
    width: 100px;
    height: 100px;
    /* background: transparent; */
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: #D23CFA;
  }
  /* ==================== Style carousel ==================== */








@media screen and (max-width:1024px) {
    .club{
        display: none;
    }
    #nav_bar{
        display: none;
    }
    .ctn_centre{
        flex-direction: column;
    }
    #img_article{
        width:50%;
    }
    #img_compte{
        width:50%;
    }
    .image_admin{
        width:25%;
    }
    *{
        font-size: xx-large;
    }
    .img_panier{
        width: 50%;
    }
    .user_desktop{
        visibility: hidden;
    }
    .user_mobile{
        visibility: visible;
    }
    .icone{
        width:85px;
        height:85px;
        transition: transform .3s;
    }
}