@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@200&family=Gulzar&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin:0;
    font-family:roboto;
}
:root{
    --color-1:#0ACEFA;
    --color-2:#D23CFA;
    --color-3:#23D2FA;
    --color-4:#FA7B0A;
    --color-5:#A3FA16;
    --nav:#707070;
}
body{
    background-color: #0acefa07;
}
header{
    background-image: url(../media/ban.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
h1{
    margin-top: 4vh;
    margin-bottom: 4vh;
    font-family: Roboto;
    font-weight: 300;
    color:#707070;
}
#fond_logo{
    background-color: white;
    width: 60vw;
    background: linear-gradient(to right, white, rgb(255, 255, 255, 0));
    padding-bottom: 3em;
    margin-bottom: -2em;
    display: flex;
    flex-direction: column;

}
#logo{
    width:9vw;
    margin-top: 1em;
}
#logo_footer{
    margin: auto;
}
#index{
    color:var(--color-1);
    text-transform: lowercase;
    text-shadow: black 1px 2px 2px;
    margin-left: 1vw;

}
footer{
    display:flex;
    flex-direction: column;
    margin: auto;
    width:85%;
    text-align: center;
}
.menu{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size:1.3em;
    transition: 0.3s;
}
main a{
    text-shadow:black 1px 1px 1px;
}
a:hover{
    color:var(--color-1);
}
.nav:hover{
    border-bottom: var(--color-1) 2px solid;
}
nav{
    text-align: center;
    background-color: #707070;
    padding: 1em 18vw 1em 18vw;
    display:flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
}
div{
    display:flex;
    justify-content: space-around;
}
div a{
    padding-left:1em;
}
#ban{
    width:83vw;
    margin-left: 5em;
    background-color: #707070;
}
main{
    width:85%;
    text-align: center;
    margin:auto;
}
.ctn_centre{
    justify-content: center;
}
.accueil-img{
    transition: 0.3s;
}
.accueil-img:hover{
    filter: blur(2px);
    transform: scale(1.02);
}
.contenant {
    position: relative;
    /* text-align: center; */
    margin: .95vw;
}
.texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
section{
    display:flex;
}  
.icone{
    width:35px;
    height:35px;
    transition: transform .3s;
}
.icone:hover{
    transform: scale(1.3);
}
#logo_footer{
    width:9vw;
}

/* ====================Barre latérale fixe===================== */

#nav_bar{
    position: fixed;
    display:flex;
    flex-direction: column;
    background-color: var(--color-5); 
}
#icone_nav_bar{
    width:3.5vw;
    min-width: 65px;
    transition: transform .3s;
    padding-top: 1vh;
    padding-right: 1.2vw; 
    padding-bottom: 1.5vh;
}
#icone_nav_bar:hover{
    transform: scale(1.2);
} 
#hr{
    color:var(--color-5);
} 

/* ====================Barre latérale fixe===================== */

/*=====================Menu déroulant===============================*/

 /* Bouton */
.dropbtn {
    background-color: var(--nav);
    color: white;
    font-size: 1.3rem;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
  
.dropbtn:hover, .dropbtn:focus {
    background-color: var(--nav);
}
  
  /* Positionnement du contenu */
.dropdown {
    position: relative;
    display: inline-block;
}
  
  /* Contenu caché */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--nav);
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /* Intérieur du contenu */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Couleur du contenu au survol */
.dropdown-content a:hover {
    background-color: #494949;
}
  
  /* Montre ou cache le contenu au clic */
.show {
    display:block;
} 

/*=====================Menu déroulant======================*/



/*===================== Style page Club ==================*/

.img-club{

    width:40vw;
}
.article-club{
    display: flex;
    padding-bottom: 15vh;
}

  /*================ Style page Article===================*/

#ctn_art{
    width: 50vw;
    margin: auto;
}
#desc_art{
    margin-bottom: 3vh;
    margin-top: 3vh;
}
#img_article{
    width:30em;
}
#article{
    text-align: left;
    margin-left: 5vw;
}
#prix{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.command_del{
    margin:1em;
    padding:1em;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #dc3545;
    border-color: #70707000;
    border-radius: 2em;
    box-shadow: #707070 5px 5px 5px;
    transition-duration: 0.1s;
    font-weight: bold;
    font-size:1.2em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space : nowrap;
    text-transform:none;
  
}
.command{
    margin:1em;
    padding:1em;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: #23D2FA;
    border-color: #70707000;
    border-radius: 2em;
    box-shadow: #707070 5px 5px 5px;
    transition-duration: 0.1s;
    font-weight: bold;
    font-size:1.2em;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space : nowrap;
    text-transform:none;
    color: white;
}
.command:hover{
    background-color: #189cb9;
}
.command:active{
    transition-duration: 0.1s;
    transform: scale(0.96);
}

#ctn_compte{
    width: 80vw;
    margin: auto;
}
#img_compte{
    width:15em;
    height:15em;
    border-radius: 50em;
}
.pres_article{
    margin: 3rem;
}


/* ==================== Style carousel ==================== */

.carousel-cell{
    margin-right: 1vw;
    overflow: hidden;
}

/* big buttons, no circle */
.flickity-prev-next-button {
    width: 100px;
    height: 100px;
    /* background: transparent; */
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: #D23CFA;
  }
  /* ==================== Style carousel ==================== */


  /* ==================== Style affichage produits ==================== */

.image_admin{
    width: 10vw;
}




  /* ==================== Style responsive ==================== */


  @media screen and (max-width: 1024px)    {

    /* =====Responsive header global====== */
    #nav_bar{
        visibility: collapse;
    }
    #index{
        visibility: collapse;
    }
    nav{
        visibility: collapse;
    }

    /* =====Responsive header global===== */

    .titre_resp{
        visibility: collapse;
    }
    #ctn_art{
        flex-direction: column;
        width:100%;
        margin-top: 0em;
    }
    *{
        font-size: 30px;
    }
    #img_article{
        margin: 0em;
        width: 100%;
    }
    #article{
        margin: auto;
        text-align: left;
    }
    .command{
        width: 100%;
        margin: 0em;
    }

    /* ==================== Style carousel ==================== */
    #carousel{
        width: 100vw;
    }

    /* ==================== Style carousel ==================== */

    .ctn_centre{
        flex-direction: column;
    }
    .club{
        visibility: collapse;
    }
    *{
        width: 100%;
    }
    h1{
        white-space : nowrap;
    }
    .menu{
        font-size: 50px;
    }
    .pres_article{
        flex-direction: column;
        align-items: center;
        margin: 0rem;
        margin-bottom: 2rem;
    }



  }

