{% extends 'base.html.twig' %}

{% block title %}Page administration{% endblock %}

{% block body %}

{% block main %}

<h1>Bienvenue sur la page d'administration</h1>

<section class="m-auto mb-5 w-50">
<article class="m-auto">
<h3 class="m-auto mb-5">Ajouter un produit</h3>
<a href="{{ path('app_products_add') }}" class="command">Ajouter un produit</a>
</article>
<article class="m-auto">
<h3 class="m-auto mb-5">Modifier les produits</h3>
<a href="{{ path('products_show_all') }}" class="command">Modifier les produits</a>
</article>
</section>

{% endblock %}

{% endblock %}
