{% extends 'base.html.twig' %}

{% block title %}Page administration{% endblock %}

{% block body %}

{% block main %}

<h1>Bienvenue sur la page d'administration</h1>


<section class="mb-5">
<article>
<h2 class="mb-5 me-5">Ajouter un produit</h2>
<a href="{{ path('app_products_add') }}" id="command" style="text-transform: none;">Ajouter un produit</a>
</article>
<article>
<h2 class="mb-5 ms-5">Modifier les produits</h2>
<a href="{{ path('products_show_all') }}" id="command" style="text-transform: none;">Modifier des produits</a>
</article>
</section>





{% endblock %}

{% endblock %}
