{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

{% block main %}

<h1>Bienvenue sur la page d'administration</h1>

<h2>Ajouter un article</h2>


<div>
<a href="{{ path('app_products_add') }}" id="command">Ajouter un produit</a>
<a href="{{ path('products_show_all') }}" id="command">Modifier des produits</a>
</div>





{% endblock %}

{% endblock %}
