{% extends 'base.html.twig' %}

{% block title %}Page administration{% endblock %}

{% block body %}

{% block main %}

<h1>Bienvenue sur la page d'administration</h1>


<section>
<h2>Ajouter un produit</h2>
<a href="{{ path('app_products_add') }}" id="command" style="text-transform: none;">Ajouter un produit</a>
</section>
<section>
<h2>Modifier les produits</h2>
<a href="{{ path('products_show_all') }}" id="command" style="text-transform: none;">Modifier des produits</a>
</section>





{% endblock %}

{% endblock %}
