<h2>Formulaire reçu !</h2>

<p>
Vous avez reçu un message depuis le formulaire de votre site :<br>
Le nom : {{ contact.nom }}<br>
L'email : {{ contact.email }}<br>
Le message : {{ contact.message }}
</p>