{% extends "base.html.twig" %}


    {% block main %}
    <main>
        {% for message in app.flashes('user_edit_ok') %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Félicitation !</strong> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} 
        <h1>Bienvenue sur natation-eco.fr</h1>
        <section>
            <article>
                <p class="contenant">
                    <a href=""><img src="media/club.jpg" alt="le club" class="accueil-img"></a>
                    <a class="texte_centrer" href="">Le club</a>
                </p>
            </article>
        </section>
        <section>
            <p class="contenant">
                <a href=""><img src="media/article-femme.jpg" alt="maillots de bain femme" class="accueil-img"></a>
                <a class="texte_centrer" href="">Maillots de bain femme</a>
            </p>
            <p class="contenant">
                <a href=""><img src="media/article-homme.jpg" alt="maillots de bain homme" class="accueil-img"></a>
                <a class="texte_centrer" href="">Maillots de bain homme</a>
            </p>
        </section>
        <section>
            <p class="contenant">
                <a href=""><img src="media/nutrition.jpg" alt="nutrition" class="accueil-img"></a>
                <a class="texte_centrer" href="">Nutrition</a>
            </p>
            <p class="contenant">
                <a href=""><img src="media/equipement.jpg" alt="equipement" class="accueil-img"></a>
                <a class="texte_centrer" href="">Equipement</a>
            </p>
        </section>
        <hr>
        <section>
            <hr>
            <p>Ces articles pourraient vous intéresser</p>
        </section>
    </main>
{% endblock %}