{% extends "base.html.twig" %}

{% block body %}

    {% block main %}
    <main>
        <h1>Bienvenue sur natation-eco.fr</h1>
        <section>
            <article>
                <p class="contenant">
                    <a href=""><img src="media/club.jpg" alt="le club"></a>
                    <a class="texte_centrer" href="">Le club</a>
                </p>
            </article>
        </section>
        <section>
            <p class="contenant">
                <a href=""><img src="media/article-femme.jpg" alt="maillots de bain femme"></a>
                <a class="texte_centrer" href="">Maillots de bain femme</a>
            </p>
            <p class="contenant">
                <a href=""><img src="media/article-homme.jpg" alt="maillots de bain homme"></a>
                <a class="texte_centrer" href="">Maillots de bain homme</a>
            </p>
        </section>
        <section>
            <p class="contenant">
                <a href=""><img src="media/nutrition.jpg" alt="nutrition"></a>
                <a class="texte_centrer" href="">Nutrition</a>
            </p>
            <p class="contenant">
                <a href=""><img src="media/equipement.jpg" alt="equipement"></a>
                <a class="texte_centrer" href="">Equipement</a>
            </p>
        </section>
        <hr>
        <section>
            <hr>
            <p>Ces articles pourraient vous intéresser</p>
        </section>

    </main>
{% endblock %}

    
        {% endblock %}