{% extends "base.html.twig" %}


{% block main %}

<h1>Présentation du club</h1>

<section class="row">
    <h6 class="d-none">Titre caché</h6>
    <div class="col-12 col-lg-6 d-flex align-items-lg-center">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos odit quo aliquam fuga vero culpa deserunt! Eligendi illo reprehenderit cupiditate eaque provident accusantium est, veritatis sint ut ullam saepe dolores doloribus nulla hic fugit molestias eveniet autem doloremque accusamus repellat voluptatibus voluptatum odit? Recusandae beatae facere possimus velit! Odio, minus voluptatibus! Optio enim nemo voluptatibus maiores eaque aliquam. Culpa, corrupti, deserunt eaque doloribus a, error voluptates tempora quisquam vero iste est. Quam sed excepturi neque corporis, tenetur sequi rerum in ipsum quas dicta saepe tempora laudantium odio libero quia atque consequatur sit accusantium. Totam voluptatem incidunt beatae autem velit.</p>
    </div>
    <div class="col-12 col-lg-6">
        <img src="{{ asset("media/swimming-pool.jpg") }}" alt="piscine" class="w-100 rounded img-fluid mb-5">
    </div>
</section>

<section class="row">
    <h6 class="d-none">Titre caché</h6>
    <div class="col-12 col-lg-6">
    <img src="{{ asset("media/swimming-pool-2.jpg") }}" alt="piscine" class="w-100 rounded img-fluid mb-5">
    </div>
    <p class="col-12 col-lg-6 d-flex align-items-lg-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum dignissimos odit quo aliquam fuga vero culpa deserunt! Eligendi illo reprehenderit cupiditate eaque provident accusantium est, veritatis sint ut ullam saepe dolores doloribus nulla hic fugit molestias eveniet autem doloremque accusamus repellat voluptatibus voluptatum odit? Recusandae beatae facere possimus velit! Odio, minus voluptatibus! Optio enim nemo voluptatibus maiores eaque aliquam. Culpa, corrupti, deserunt eaque doloribus a, error voluptates tempora quisquam vero iste est. Quam sed excepturi neque corporis, tenetur sequi rerum in ipsum quas dicta saepe tempora laudantium odio libero quia atque consequatur sit accusantium. Totam voluptatem incidunt beatae autem velit.</p>
</section>

{% endblock %}