{% extends "base.html.twig" %}

{% block description %}
    <meta name="description" content="Le club">{% endblock %}
{% block title %}Le club{% endblock %}


{% block main %}

    <h1>Le club des Dauphins</h1>

    <section class="row">
        <h6 class="d-none">Titre caché</h6>
        <div class="col-12 col-lg-6 d-flex align-items-lg-center">
            <p class=" text-end">
                Depuis sa création en 1989, le Club des Dauphins de la Piscine Municipale accueille des passionnés de
                natation de tous âges, des enfants aux adultes, pour s’entraîner et se dépasser dans une ambiance
                conviviale. Dédié à la compétition, le club offre des entraînements classiques et rigoureux, encadrés
                par des entraîneurs expérimentés. Que ce soit pour perfectionner leur technique ou atteindre des
                objectifs ambitieux, les nageurs bénéficient d’un accompagnement adapté à leur niveau et à leurs
                aspirations.</p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="{{ asset("media/swimming-pool.webp") }}" alt="piscine" class="w-100 rounded img-fluid mb-5">
        </div>
    </section>

    <section class="row">
        <h6 class="d-none">Titre caché</h6>
        <div class="col-12 col-lg-6">
            <img src="{{ asset("media/swimming-pool-2.webp") }}" alt="piscine" class="w-100 rounded img-fluid mb-5">
        </div>
        <p class="col-12 col-lg-6 d-flex align-items-lg-center text-start">
            Fort d’une longue tradition d’excellence, le club a régulièrement remporté des médailles lors de
            compétitions régionales et nationales, devenant ainsi un acteur incontournable du monde de la natation
            locale. Au-delà des performances sportives, le Club des Dauphins se distingue par son esprit d’équipe et ses
            valeurs de partage. Rejoindre ce club, c’est intégrer une véritable famille de nageurs motivés, unie par la
            passion de l’eau et le goût du défi.
        </p>
    </section>

{% endblock %}