{% extends "base.html.twig" %}


{% block main %}

<h1>Présentation du club</h1>

<section class="row">
    <h6 class="d-none">Titre caché</h6>
    <div class="col-12 col-lg-6 d-flex align-items-lg-center">
        <p>
        Il est depuis l'origine l’un des très grands clubs de natation, sur lequel s'est naturellement greffée, il y a quelques années, une forte section de triathlon. Il est le seul club auquel la Fédération Française de Natation ait attribué le prestigieux label "Club Formateur".

        Le Club est affilié à la Fédération Française de Natation ainsi qu'à la Fédération Française de Triathlon et participe aux épreuves sportives organisées par ces deux fédérations.

        Le club programme la pratique de la natation et du triathlon à tous les niveaux, du loisir à la compétition. Il propose à ses membres divers entraînements encadrés par des professionnels.

        Au Centre Roger Le Gall, 34 Boulevard Carnot, dans le 12e arrondissement de Paris, les membres du Club ont accès à toutes les activités du Club aux heures attribuées par la mairie. Le Club des Nageurs prône la pratique sportive à tous les niveaux, du loisir à la compétition.
        </p>
    </div>
    <div class="col-12 col-lg-6">
        <img src="{{ asset("media/swimming-pool.jpg") }}" alt="piscine" class="w-100 rounded img-fluid mb-5">
    </div>
</section>

<section class="row">
    <h6 class="d-none">Titre caché</h6>
    <div class="col-12 col-lg-6">
        <img src="{{ asset("media/swimming-pool-2.jpg") }}" alt="piscine" class="w-100 rounded img-fluid mb-5">
    </div>
    <p class="col-12 col-lg-6 d-flex align-items-lg-center">
    Les deux axes d’activités que sont le loisir et la compétition y sont complémentaires, non opposés.
     Le Club n’accueille pas de nageur professionnel.Par sa politique sportive, le Club recherche avant tout l’épanouissement personnel de tous ses membres.

    Il a pour objectif de donner le goût d’une pratique sportive régulière dès le plus jeune âge à tous ses membres, sans qu’ils aient à sacrifier études ou vie professionnelle. Le Club se veut une école de la vie où tous les âges, tous les milieux sociaux et toutes les nationalités se côtoient.Le Club des Nageurs de Paris propose à ses adhérents que la natation soit pour eux un sport pour une meilleure vie, un sport pour toute la vie.
    </p>
</section>

{% endblock %}