{% extends "base.html.twig" %}

{% block description %}<meta name="description" content="Erreur 500">{% endblock %}
{% block title %}Erreur 500{% endblock %}

{% block main %}
    <h1>Erreur 500</h1>
    <h2>Le serveur est submergé, un sauveteur va venir le sauver!</h2>
    <a href="{{ path('index')}}" class="btn command rounded-pill mt-5 mb-5">Retour à l'accueil</a>
{% endblock %}