{% extends "base.html.twig" %}

{% block description %}<meta name="description" content="Erreur 403">{% endblock %}
{% block title %}Erreur 403{% endblock %}

{% block main %}
    <h1>Erreur 403</h1>
    <h2>Accès interdit</h2>
    <a href="{{ path('index')}}" class="btn command rounded-pill mt-5 mb-5 transition-swipe">Retour à l'accueil</a>
{% endblock %}