{% extends "base.html.twig" %}



{% block main %}
<h1>Erreur 403</h1>
<h2>Accès interdit</h2>
<a href="{{ path('index')}}" class="btn command rounded-pill mt-5 mb-5">Retour à l'accueil</a>
{% endblock %}