{% extends "base.html.twig" %}



{% block main %}
<h1>La page doit être en train de se noyer!</h1>
<a href="{{ path('index')}}" class="btn command rounded-pill mt-5 mb-5">Retour à l'accueil</a>
{% endblock %}