{% extends 'base.html.twig' %}

{% block description %}<meta name="description" content="Paiement refusé">{% endblock %}
{% block title %}Paiement refusé{% endblock %}

{% block main %}

	<h1>Désolé le paiement a échoué</h1>
	<div class="container">
		<p>
			La commande n'a pas été prise en compte
		</p>
		<p>
			Retentez le paiement <a href="{{ path('cart_index') }}" class=" btn command rounded-pill">Retour au panier</a>
		</p>  
		<p>
			ou nous contacter <a href="mailto:orders@example.com" class="btn command rounded-pill">natation@natation-eco.fr</a>.
		</p>  
	</div>
{% endblock %}