{% extends 'base.html.twig' %}

{% block title %}Paiement refusé{% endblock %}

{% block body %}

{% block main %}

    <h1>Désolé le paiement a échoué</h1>
<div class="container">
    <p>
      La commande n'a pas été prise en compte
    </p>
    <p>
    Retentez le paiement <a href="{{ path('cart_index') }}" class="command">Retour au panier</a>
    </p>  
    <p>
       ou nous contacter <a href="mailto:orders@example.com" class="command">natation@natation-eco.fr</a>.
    </p>  
</div>
{% endblock %}
{% endblock %}