{% extends 'base.html.twig' %}

{% block description %}<meta name="description" content="Paiement accepté">{% endblock %}
{% block title %}Paiement accepté{% endblock %}

{% block main %}
    <h1>Merci pour votre commande !</h1>
	<section class="container">
		<p>
			La commande a bien été prise en compte.
			Si vous avez des questions merci de nous contacter 
			<a href="mailto:orders@example.com">orders@example.com</a>.
		</p>    
	</section>
{% endblock %}